@mixin defineColorHSL($color, $hue, $saturation, $lightness) {
  #{$color}: unquote("hsl(#{$hue}, #{$saturation}, #{$lightness})");
  #{$color}-h: #{$hue};
  #{$color}-s: #{$saturation};
  #{$color}-l: #{$lightness};
}

@mixin flex($gap_size: 1rem) {
  display: flex;
  gap: var(--gap, $gap_size);
}

@mixin container() {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 80rem;
}

@mixin flow() {
  > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
  }
}

@mixin fw-bold() {
  font-weight: 700;
}

@mixin uppercase() {
  text-transform: uppercase;
}
