.text-dark {
  color: alpha(var(--clr-dark-dark), 1);
}
.text-light {
  color: alpha(var(--clr-light), 1);
}
.text-dark-light {
  color: alpha(var(--clr-dark), 0.7);
}

:root {
  /*font-sizes*/
  --fs-900: 3rem;
  --fs-800: 2.25rem;
  --fs-700: 1.5rem;
  --fs-600: 1.375rem;
  --fs-500: 1.125rem;

  /*font-families*/
  --ff-serif: "Cardo", serif;
  --ff-cursive: "Irish Grover", cursive;
  --ff-action-btn: "Roboto", sans-serif;

  /*font-weights*/
  --fw-bold: 700;
  --fw-regular: 400;

  /*letter-spacing*/
  --letter-spacing-1: 5%;
  --letter-spacing-2: 3%;
  --letter-spacing-3: 2%;
}
